div {
  width: 900px;
  background-color: #121212;
  margin: -20px auto 0px auto;
  box-shadow: -8px 0px 6px -6px rgba(0, 247, 255, 0.5),
    8px 0px 6px -6px rgba(0, 247, 255, 0.5);
  padding: 10px;
}

a {
  color: #f0f6fc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30pt;
  color: #f0f6fc;
  text-shadow: 1px 1px 1px rgba(0, 247, 255, 0.6);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
  position: static;
  padding: -10px;
  padding-left: 20%;
  background-color: #161b22;
  
}

li {
  display: inline-block;
  padding: 10px;
}
