div {
  width: 900px;
  background-color: #121212;
  margin: -20px auto 0px auto;
  box-shadow: -8px 0px 6px -6px rgba(0, 247, 255, 0.5),
    8px 0px 6px -6px rgba(0, 247, 255, 0.5);
  padding: 10px;
}
.bloco {
  background-color: #161b22;
  margin: 20px auto 0px auto;
  width: 800px;
}

.blocoImg {
  background-color: #161b22;
  margin: 20px auto 0px auto;
  width: 800px;
  height: 205px;
}

p {
  text-align: justify;
  color: #dddddd;
  text-decoration: none;
}

h2 {
  border-bottom: 1px solid #00F7FF;
  font-family: sans-serif;
  color: #dddddd;
  font-size: 15pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30pt;
  color: #dddddd;
  text-shadow: 2px 2px 2px rgb(0, 247, 255, 0.5);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

img {
  max-width: 17%;
  margin: 10px;
  float: left;
  border-radius: 20%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
}


