div {
  width: 900px;
  background-color: #121212;
  margin: -20px auto 0px auto;
  box-shadow: -8px 0px 6px -6px rgba(0, 247, 255, 0.5),
    8px 0px 6px -6px rgba(0, 247, 255, 0.5);
  padding: 10px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30pt;
  color: #dddddd;
  text-shadow: 2px 2px 2px rgb(0, 247, 255, 0.5);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}